body{
  background-color:  rgb(251, 176, 176);
 
}
.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  color: white;
  
}
.cal-wrapper{
  background-color: rgba(51, 229, 41, 0.75);
  width: 300px;
  border-radius: 16px;

  border-radius: 30px;
  box-shadow: inset 1px 5px 12px white, 
              inset       5px 5px 12px   rgba(0, 0, 0, .16);
  display: grid;
}
.row{
  display: flex;
 
}
.hedding ,h1{
 
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  color: rgb(12, 12, 12); 
  letter-spacing: -2px
  
}

